[Unit]
Description=Smart Wheelchair Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/kubeedge/devices/wheelchair.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target