
[Unit]
Description=Smart Bed Sensor Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /etc/kubeedge/devices/bed_sensor.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
